@import './theme.scss';

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    height: 100%;
}

#appContent {
    flex-grow: 1;
}

div {
    display: flex;
}

button {
    border-radius: 2px;
    border: solid 1px #b1b1b1;
    background: #efefef;
}

a, a:visited, a:active {
    color: #1f64f8;
    text-decoration: underline;
    padding: .2rem .4rem;

    &:hover {
        background: #dce7ff;
        border-radius: 2px;
    }
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.column, .row {
    &.is-full {
        flex-grow: 1;
    }

    &.is-thin {
        flex-shrink: 1;
    }
}

.is-scrollable {
    overflow-y: auto;
}

.has-space-between {
    justify-content: space-between;
}

.header {
    padding: .7rem 1rem;
    flex-shrink: 0;
    justify-content: space-between;
    background: #fffdda;

    .header-side {
        width: 3rem;
        &:last-child {
            justify-content: flex-end;
        }
    }
}

.todos {
    background: $background-primary;
    margin-bottom: 0.5rem;
    font-size: 90%;

    .todo-container {
        flex-shrink: 0;

        &.dragging {
            border-bottom: 1px solid $seperator-color;
            background: $background-primary-hover;
        }
    }

    .todo {
        cursor: pointer;
        padding: .35rem 0;
        align-items: center;
        height: 18px;

        &:hover {
            background: $background-primary-hover;

            input {
                background: $background-primary-hover;
            }
        }

        &.done {
            color: #a6a6a6;
            text-decoration: line-through;
        }

        .handle {
            width: 1.5rem;
            justify-content: center;
            color: #838383;

            &:hover {
                cursor: grab;
            }
        }

        .todo-data {
            padding-right: 1rem;
            align-items: center;
            flex-shrink: 0;

            .is-action {
                font-size: 75%;
            }
        }
    }

    .seperator {
        height: 1px;
        background: $seperator-color;

        &:hover {
            cursor: text;
        }
    }

    .todo-input {
        padding-left: 1.5rem;
        padding-right: .5rem;
        color: #c8c8c8;
        font-style: italic;
        cursor: text;
        border-top: 1px solid $seperator-color;
        border-bottom: 1px solid $seperator-color;
        flex-shrink: 0;

        button {
            border: none;
        }
    }

    input {
        border: none;
        background: $background-primary;
        font-family: $font-family;
        outline: none;
        font-size: 14.4px;

        &:hover {
            background: $background-primary-hover;
        }
    }
}