$background-primary: #f8f8f8;
$background-primary-hover: #f2f2f2;

$separator-color: #d6e8ff;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$action-hover-background: #dce7ff;

$active-color: #082053;

$action-color: #1f64f8;